@import '../_vars';
@import '_media';

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
.h1-animation {
	position: absolute;
	left: 5%;
	top: 120px;
	transition: 0.6s;
	transform: translateY(60px);
	transition-delay: 0.7s;
	opacity: 0;
}
.wrapper {
	padding-left: 80px;
	padding-right: 80px;
  @include ad() {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.transition {
	transition: all .1s;
}
.transition-hover {
	transition: all 0.3s;
}
