@import '../_vars';
@import '_media';

.c {
	margin: 0 auto;
	width: 100%;
	max-width: $max-width;
	position: relative;
	z-index: 2000;
  padding-left: 20px;
  padding-right: 20px;
}
.row {
	&:after {
		@extend .clearfix;
	}
}
.flex {
  display: flex;
  align-items: center;
}
[class*="col-"] {
	float: left;
}
.nowrap {
	white-space: nowrap;
}
