.c-basicCard {
  padding-left: 17px;
  padding-right: 17px;
  &__imgLink {
    padding-bottom: 150%;
    display: block;
    background-color: #e1e6e6;
    border-radius: 9px;
    &:hover {
      .c-basicCard {
        &__img {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            display: block;
          }
        }
      }
    }
  }
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &:nth-child(2) {
      display: none;
    }
  }
  &__info {
    padding-top: 10px;
  }
  h3 a, p a {
    color: #3f3f3f; 
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
    font-weight: 600;
  }
}
