.c-socialIcons {
  font-size: 0;
  &__item {
    display: inline-block;
    margin-left: 5px;
    &--facebook {
      a {
        background-image: url('/app/img/design/social-icon-facebook.svg');
      }
    }
    &--instagram {
      a {
        background-image: url('/app/img/design/social-icon-instagram.svg');
      }
    }
    a {
      $itemSize: 30px;
      display: block;
      width: $itemSize;
      height: $itemSize;
      border-radius: 50px;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
